* {
  box-sizing: border-box;
}

/* nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(57, 73, 57);
  height: 50px;
} */

body {
  background-color: gray;
}

#top-menu {
  z-index: 20;
}

/* #fire {
  background-color: red;
  font-size: 20px;
  margin: 10px;
}

#water {
  background-color: blue;
  font-size: 20px;
  margin: 10px;
}

#grass {
  background-color: green;
  font-size: 20px;
  margin: 10px; */
/* } */
