* {
  box-sizing: border-box;
}

#top-menu {
  z-index: 20;
}

#sub-menu {
  width: 100%;
  z-index: 10;
  transition: top 0.5s ease-out;
}

header,
#top-menu {
  position: relative;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(57, 73, 57);
  height: 50px;
}

body {
  font-family: Tahoma, Geneva, sans-serif;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: 3rem auto;
  color: white;
}

.versus {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#stadium {
  position: absolute;
  height: 950px;
  z-index: -1;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

nav a {
  line-height: 3rem;
  padding: 0 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.PlayerPokemon {
  position: absolute;
  height: 200px;
  top: 30%;
  left: 30%;
  transform-origin: right left;
}
@keyframes userShake {
  50% {
    transform: rotate(10deg);
  }
}

#play {
  position: absolute;
  top: 200px;
}

#playagain {
  position: absolute;
  visibility: hidden;
  bottom: 200px;
}

.ComputerPokemon {
  position: absolute;
  height: 200px;
  top: 30%;
  right: 29%;
  transform-origin: right left;
}

.pokemonball {
  animation: computerShake 0.7s ease infinite;
}

.pokemonball1 {
  animation: userShake 0.7s ease infinite;
}

@keyframes computerShake {
  50% {
    transform: rotate(-10deg);
  }
}
